version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: cimg/node:14.19.0
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm"
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package-lock.json" }}
            - nextjs-cache-{{ checksum "package-lock.json" }}
            - nextjs-public-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install --legacy-peer-deps
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
            - ./.next/cache
      - run:
          name: NextJS Build
          command: npm run export
      - save_cache:
          key: nextjs-cache-{{ checksum "package-lock.json" }}
          when: on_success
          paths:
            - ./.next/cache
      - save_cache:
          key: nextjs-public-cache-{{ checksum "package-lock.json" }}
          when: on_success
          paths:
            - ./dist
      - run:
          name: Deploy to Netlify
          command: ./node_modules/.bin/netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN --prod --dir=./dist

workflows:
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
