.content {
  font-family: 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  color: #222;
  font-weight: 200;
}

.content.editor {
  max-width: 800px;
}

@media (min-width: 800px) {
  .content.editor {
    margin-left: auto;
    margin-right: auto;
  }
}

.content time {
  color: #9b9b9b;
}

.content div,
.content p {
  line-height: 1.5rem;
  margin: 0 0 16px;
  font-size: 16px;
}

.content div,
.content p:not(:first-child) {
  margin-top: 16px;
}

.content a {
  color: #bf303c;
  text-decoration: none;
  font-weight: 500;
}

.content a:hover {
  text-decoration: underline;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 500;
  color: #333;
  margin-top: 28px;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .content h1 {
    margin-top: 32px;
    margin-bottom: 16px;
  }
}

.page h1 {
  font-size: 32px;
  line-height: 36px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .page h1 {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  .page h1 {
    font-size: 24px;
  }
}

.page h2 {
  text-transform: uppercase;
  color: #bf303c;
  font-size: 26px;
  line-height: 26px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .page h2 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .page h2 {
    font-size: 18px;
  }
}

.page h3 {
  color: #616169;

  line-height: 22px;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .page h3 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .page h3 {
    font-size: 17px;
  }
}

.page h4,
.page h5,
.page h6 {
  color: #616169;
}

.page h4 {
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .page h4 {
    font-size: 16px;
  }
}

.page h5 {
  font-size: 18px;
  line-height: 19px;
}

@media (max-width: 1200px) {
  .page h5 {
    font-size: 15px;
  }
}

.page h6 {
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 1200px) {
  .page h6 {
    font-size: 14px;
  }
}

/* .content h2::before {
  position: absolute;
  margin-left: -1em;
  font-weight: 300;
  font-size: 1.5rem;
  color: #9b9b9b;
  display: none;
  content: '#';
} */

.content pre {
  display: block;
  background-color: rgba(27, 31, 35, 0.05);
  line-height: 1.25rem;
  padding: 1rem;
  overflow: auto;
  margin: 1.75rem 0 0 0;
}

.content pre code {
  background-color: transparent;
  font-size: 100%;
  padding: 0;
}

.content code {
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.content blockquote {
  margin: 0 1rem;
}

.content blockquote::before {
  position: absolute;
  content: '\201C';
  font-size: 6em;
  font-family: roboto, serif;
  line-height: 1.5rem;
  margin-top: 0.1em;
  margin-left: -0.2em;
  z-index: -1;
  color: #ededed;
}

.content table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  margin: 24px 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.content.editor table {
  border: none;
  border-radius: 0;
  overflow: visible;
}

.content table thead {
  background: #f7f7f7;
}

.content table th,
.content table thead td {
  font-weight: 700;
  height: 56px;
  padding: 0 16px;
  box-sizing: border-box;
}

.content table th,
.content table thead td,
.content table td {
  padding: 0.5em 1em;
}

.content table tr:not(:first-child) th,
.content table tr:not(:first-child) thead td,
.content table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.content table tr td {
  background-color: #fcfcfc;
}

.content table tbody tr td {
  height: 52px;
  padding: 0 16px;
  box-sizing: border-box;
}

.content table tbody tr:hover td {
  background-color: #f9f9f9;
}

.content ol,
.content ul {
  padding: 0 0 0 1.5rem;
  margin: 8px 0;
}

.content ol li,
.content ul li {
  line-height: 1.5rem;
}

.content li ol,
.content li ul {
  margin: 0;
}

.content abbr[title] {
  text-decoration: underline double;
}

.content kbd {
  font-family: 'Oswald', 'Ubuntu Mono', monospace;
}

.content img {
  width: 100%;
}

@media (min-width: 800px) {
  .content h2,
  .content h3,
  .content h4,
  .content h5 {
    position: relative;
  }

  .content h2::before {
    display: block;
  }
}

.content b,
.content strong {
  font-weight: 700;
}
